# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#project
/download
/settings/.tidal-dl.token.json
/settings/beets/*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.vscode
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

compose.override.yml

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
