# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# project
/download
/settings/beets/*
/shared
/docker/mnt
# dependencies
/node_modules

# misc
.DS_Store
.vscode
*.pem

#ai
.continue
AGENT.md
.claude
CLAUDE.md

# docker
compose.override.yml

# typescript
*.tsbuildinfo


