# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# project
/download
.tidal-dl.token.json
.tidal-dl.json
/settings/beets/*
/shared
/docker/mnt
# dependencies
/node_modules

# misc
.DS_Store
.vscode
*.pem

# docker
compose.override.yml

# typescript
*.tsbuildinfo


