services:
  tidarr:
    build: 
      context: .
      dockerfile: './docker/Dockerfile.dev'
    container_name: 'tidarr'
    ports:
      - 8484:8484
      - 3000:3000
    volumes:
      - ./docker/mnt/config:/home/app/standalone/shared
      - ./docker/mnt/library:/home/app/standalone/library
      - .:/home/app/standalone # only used in dev environment
    restart: 'unless-stopped'
    environment:
      - PUID=
      - PGID=
      - UMASK=
      - TZ=Etc/UTC
      - ENABLE_BEETS=
      - PLEX_URL=
      - PLEX_LIBRARY=
      - PLEX_TOKEN=
      - PLEX_PATH=
      - GOTIFY_URL=
      - GOTIFY_TOKEN=
      - ADMIN_PASSWORD
      - APPRISE_API_ENDPOINT=
      - APPRISE_API_TAG=
      - PUSH_OVER_URL=
      - M3U_BASEPATH_FILE=
      - SYNC_CRON_EXPRESSION=
      
  testing:
    build:
      context: .
      dockerfile: './docker/Dockerfile.e2e'
    container_name: 'tidarr-testing'
    volumes:
      - ./e2e:/home/app/standalone/e2e
      - ./docker/mnt/config:/home/app/standalone/shared
      - ./docker/mnt/library:/home/app/standalone/library
    ports:
      - 7373:8484
      - 9323:9323
    environment:
      - ENABLE_BEETS=true
      - PLEX_URL=http://plex.url
      - PLEX_LIBRARY=3
      - PLEX_TOKEN=abc-plex-token-xyz
      - PLEX_PATH=/fodler/to/plex/music
      - GOTIFY_URL=http://gotify.url
      - GOTIFY_TOKEN=abc-gotify-token-xyz