services:
  tidarr:
    build: 
      context: .
      dockerfile: './docker/Dockerfile.dev'
    container_name: 'tidarr'
    ports:
      - 8484:8484
      - 3000:3000
    volumes:
      - ./docker/mnt/config:/home/app/standalone/shared
      - ./docker/mnt/library:/home/app/standalone/library
      - .:/home/app/standalone # only used in dev environment
    restart: 'unless-stopped'
    environment:
      - PUID=
      - PGID=
      - UMASK=
      - TZ=Etc/UTC
      - ENABLE_BEETS=
      - PLEX_URL=
      - PLEX_LIBRARY=
      - PLEX_TOKEN=
      - PLEX_PATH=
      - NAVIDROME_URL=
      - NAVIDROME_USER=
      - NAVIDROME_PASSWORD=
      - GOTIFY_URL=
      - GOTIFY_TOKEN=
      - ADMIN_PASSWORD
      - APPRISE_API_ENDPOINT=
      - APPRISE_API_TAG=
      - PUSH_OVER_URL=
      - M3U_BASEPATH_FILE=
      - SYNC_CRON_EXPRESSION=
      