services:
  tidarr:
    build:
      context: .
      dockerfile: './docker/Dockerfile'
      target: development
    container_name: 'tidarr'
    ports:
      - 8484:8484
      - 3000:3000
    volumes:
      - ./docker/mnt/config:/shared
      - ./docker/mnt/library:/music
      - .:/tidarr # only used in dev environment
    restart: 'unless-stopped'
    environment:
      - PUID=
      - PGID=
      - UMASK=
      - TZ=Etc/UTC
      - ENABLE_BEETS=
      - PLEX_URL=
      - PLEX_LIBRARY=
      - PLEX_TOKEN=
      - PLEX_PATH=
      - NAVIDROME_URL=
      - NAVIDROME_USER=
      - NAVIDROME_PASSWORD=
      - GOTIFY_URL=
      - GOTIFY_TOKEN=
      - ADMIN_PASSWORD
      - OIDC_ISSUER=
      - OIDC_CLIENT_ID=
      - OIDC_CLIENT_SECRET=
      - OIDC_REDIRECT_URI=
      - APPRISE_API_ENDPOINT=
      - APPRISE_API_TAG=
      - PUSH_OVER_URL=
      - M3U_BASEPATH_FILE=
      - SYNC_CRON_EXPRESSION=
      - NO_DOWNLOAD=
      - ENABLE_HISTORY=
      - REPLAY_GAIN=
      - PLAYLIST_ALBUMS=
      