# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# project
/download
/shared
/docker/mnt
.tiddl_config.json

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/dist

# misc
.DS_Store
.vscode
*.pem

# debug
npm-debug.log*

# docker
compose.override.yml

# typescript
*.tsbuildinfo
