name: Playwright Tests
on:
  push:
    branches-ignore: [main]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    name: "Playwright Tests"
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          cache-dependency-path: e2e/yarn.lock

      - name: Install dependencies
        working-directory: ./e2e
        run: yarn install --frozen-lockfile

      - name: Install Playwright Browsers
        working-directory: ./e2e
        run: npx playwright install --with-deps chromium

      - name: Run Playwright tests
        working-directory: ./e2e
        env:
          CI: true
        run: npx playwright test

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: playwright-report
          path: ./e2e/playwright-report/
          retention-days: 30
